body {
    background-color: #a06868;
}
h1,h2,h3,h4,h5,h6 {
    color: #121111;
}

li:last-child {
  border-bottom: none;
}

nav li a{
    display:block;
    color:white;
    padding:8px 16px;
    text-decoration:none;
}

nav li a:hover{
    background-color:#784141;
    color:thistle
}

nav li a.active{
    background-color:#784141;
    color:thistle
}

nav ul {
    display:flex;
    list-style-type:none;
    gap: 20px;
    padding: 0;
    margin: 0;
    background-color:black;

}

